
<p>
    斯蒂芬的语音模块坏了。
    这个模块负责他的数字发音。
    他必须点击来输入一个数字中的所有数字、
    因此，当有大的数字时，他可能需要很长的时间。
    通过为机器人编写一个新的语音模块，帮助他正确说话，提高他的数字处理速度。
    字符串中的所有单词必须正好由一个空格字符分开。
    注意空格--如果你放置两个空格而不是一个，就很难看出来。
</p>



<p><strong>输入：</strong>一个整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.</p>

<p><strong>输出：</strong>一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.</p>

<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>
    
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
   <strong>它是如何被使用的：</strong>
    这个概念可能对语音合成软件或自动报告系统有用。
    这个系统也可以在编写聊天机器人时使用，通过给单词或短语分配数值，并让系统根据这些数值检索反应。
    数值，并让系统根据这些数值检索响应。
</p>

<p><strong>前提条件：</strong>0 &lt; 数字 &lt; 1000</p>
